<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>欢迎访问 温州行政诉讼律师网 | 民告官专业律师团队</title>
    <link rel="stylesheet" href="__PUBLIC__/client/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/client/css/style.css">
</head>
<body>

<div class="container-fluid">

<a href="/admin/login.html" target="_blank"><div id="admin" style="position:absolute;width:30px;height:30px;right:0px;top:0px"></div></a>
<a href="http://www.cnzz.com/stat/website.php?web_id=1261122547" target="_blank"><div id="tongji"  style="position:absolute;width:30px;height:30px;top:77px;right:0px"></div></a>
<div style="display:none"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261122547'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261122547' type='text/javascript'%3E%3C/script%3E"));</script></div>
    <!--头部区域-->
    <div id="top">
        <a href="index.html"><div id="logo"></div></a>
        <div id="top-tel">律师热线：<span>137-3877-8655</span></div>
    </div>

    <!--菜单-->
    <div id="menu">
        <div id="menu-container">
        <div class="menu-item active"><a href="/index.html">网站首页</a></div>
        <volist name="tree" id="navigation">      
        	<div class="menu-item"><a href="{$navigation.url}">{$navigation.name}</a></div>
		</volist>
			
        </div>
    </div>

    <!--轮播区域-->
    <div class="banner">
        <div class="banner-list">
            <ul>
                <li style="background:url(Public/client/img/banner-1.png) no-repeat"></li>
                <li style="background:url(Public/client/img/banner-2.png) no-repeat"></li>
            </ul>
        </div>
        <div class="hd"><ul></ul></div>
    </div>

    <!--正文-->
    <div class="container">

        <div id="headline">
            <div id="head-time">{$headline.create_date|strtotime|date='m.d',###}</div>
            <div id="head-title">{$headline.title|msubstr=0,21,'utf-8',false}</div>
            <div id="head-content">
                <img src="Public/client/img/headline.png">
                <a href="/docs/{$headline.id}.html">{$headline.content}</a>
            </div>
        </div>

        <div class="unit-primary">
            <div class="title">
                <div class="title-word">首席律师</div>
            </div>
        </div>

        <div id="lawyer">
            <div class="title">
                <div class="title-word">律师介绍</div>
                <a href="/lists/1.html"><div class="title-more"></div></a>
            </div>
            <div id="lawyer-content">  
                            
           		<volist name="lawyers" id="article">
					<div class="item"><a href="pics/{$article.id}.html"><img src="upload/thumb_{$article.image}" border="0"></a><div class="item-name">{$article.title}</div></div>		
				</volist>
				
            </div>
        </div>

        <div class="unit">
            <div class="title">
                <div class="title-word">业务领域</div>
                <a href="/list/2.html"><div class="title-more"></div></a>
            </div>
            
            <volist name="business" id="article">
            	<div class="line"><a href="docs/{$article.id}.html">{$article.title|msubstr=0,15,'utf-8',false}</a><span class="pull-right">{$article.create_date|strtotime|date='Y/m/d',###}</span></div>
            </volist>

        </div>
        <div class="unit-gap"></div>
        <div class="unit">
            <div class="title">
                <div class="title-word">媒体报道</div>
                <a href="/list/3.html"><div class="title-more"></div></a>
            </div>
            
            <volist name="media" id="article">
            	<div class="line"><a href="docs/{$article.id}.html">{$article.title|msubstr=0,15,'utf-8',false}</a><span class="pull-right">{$article.create_date|strtotime|date='Y/m/d',###}</span></div>
            </volist>

        </div>
        <div class="unit-gap"></div>
        <div class="unit">
            <div class="title">
                <div class="title-word">经典案例</div>
                <a href="/list/4.html"><div class="title-more"></div></a>
            </div>
            
            <volist name="examples" id="article">
            	<div class="line"><a href="docs/{$article.id}.html">{$article.title|msubstr=0,15,'utf-8',false}</a><span class="pull-right">{$article.create_date|strtotime|date='Y/m/d',###}</span></div>
            </volist>

        </div>


        <div class="unit">
            <div class="title">
                <div class="title-word">文书范本</div>
                <a href="/list/5.html"><div class="title-more"></div></a>
            </div>
            
            <volist name="paper" id="article">
            	<div class="line"><a href="docs/{$article.id}.html">{$article.title|msubstr=0,15,'utf-8',false}</a><span class="pull-right">{$article.create_date|strtotime|date='Y/m/d',###}</span></div>
            </volist>

        </div>
        <div class="unit-gap"></div>
        <div class="unit">
            <div class="title">
                <div class="title-word">维权技巧</div>
                <a href="/list/6.html"><div class="title-more"></div></a>
            </div>
            
            <volist name="defends" id="article">
            	<div class="line"><a href="docs/{$article.id}.html">{$article.title|msubstr=0,15,'utf-8',false}</a><span class="pull-right">{$article.create_date|strtotime|date='Y/m/d',###}</span></div>
            </volist>

        </div>
        <div class="unit-gap"></div>
        <div class="unit">
            <div class="title">
                <div class="title-word">法律法规</div>
                <a href="/list/7.html"><div class="title-more"></div></a>
            </div>
            
            <volist name="rules" id="article">
            	<div class="line"><a href="docs/{$article.id}.html">{$article.title|msubstr=0,15,'utf-8',false}</a><span class="pull-right">{$article.create_date|strtotime|date='Y/m/d',###}</span></div>
            </volist>

        </div>

    </div>

    <div id="links">
    
    <volist name="links" id="link">
		<a href="{$link.url}" target="_blank">{$link.name}</a>
	</volist>

    </div>
    <div id="footer">
        地 址：浙江省温州市市府路西首新益大厦A幢4楼&nbsp;&nbsp;&nbsp;&nbsp;邮 编：325000&nbsp;&nbsp;&nbsp;&nbsp;手 机：13738778655&nbsp;&nbsp;&nbsp;&nbsp;电 话：0577-56891918&nbsp;&nbsp;&nbsp;&nbsp;传 真：0577-88319477&nbsp;&nbsp;&nbsp;&nbsp;站长统计<br>
        温州行政诉讼律师网&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;Copyright ©2016 ALL RIGHTS RECERVED.&nbsp;&nbsp;&nbsp;&nbsp;浙ICP备<a href="http://www.miibeian.gov.cn" target="_blank">15043901号-3</a>&nbsp;&nbsp;&nbsp;&nbsp;技术支持：<a href="http://www.webm.com.cn" target="_blank"> 沧海软件(北京)有限公司</a>
   <a href="/admin/login.html" target="_blank"><div id="admin"></div></a>
    </div>

</div>

<script type="text/javascript" src="__PUBLIC__/client/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/client/js/jquery.SuperSlide.js"></script>
<script type="text/javascript">
    $(".banner").slide({
        mainCell: '.banner-list ul',
        titCell: '.hd ul',
        effect: 'fold',
        autoPage: true,
        autoPlay: true,
        delayTime: 1000,
        interTime: 5000
    });

    $(document).ready(function(){
        $('.unit').find('.line:first').css('margin-top','10px');
    });
</script>
</body>
</html>