<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="keywords" content="">
    <meta content="">

    <title>欢迎访问BIUSHOP商城</title>
    
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/lib/css/bootstrap.min.css">

    <link type="text/css" rel="stylesheet" href="__PUBLIC__/client/css/iframe.css" >
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/client/css/index.css" >

	<!--[if lt IE 9]>
	<script src="__PUBLIC__/lib/js/html5shiv.min.js"></script>
	<script src="__PUBLIC__/lib/js/respond.min.js"></script>
	<![endif]-->
	
</head>
<body oncontextmenu="return false">

<div class="container">

    <div class="row">

        <!-- 左侧边栏 -->
        <div class="col-md-2" id="left-side">
            <!-- 左侧边栏漂浮导航 -->
            <div id="left-top">
                <!-- logo -->
                <div id="logo"><a href="index/index_show.html" class="outer-link"><img src="__PUBLIC__/client/img/logo.png" border="0"></a></div>
                <!-- 导航菜单 -->
                <div id="menu_left">

                    <volist name="menu" id="item">

                        <div class="menu_left_item">
                            <a href="<empty name='item.url'>javascript:;<else />{$item.url}</empty>"  <notempty name="item.url">class="outer-link"</notempty> >{$item.name}</a>
                        </div>

                        <present name="item['subs']">
                            <div class="menu_left_item_sub">
                            <volist name="item['subs']" id="sub">                                                           
                                <div class="sub_item"><a href="{$sub.url}" class="outer-link">{$sub.name}</a></div>
                                <if condition="$sub.url eq '/tags/5.html'">
                                <div class="line-outer"></div>
                                <div id="line"><div id="line-inner"></div></div>
                                <div class="line-outer"></div>
                                </if>
                            </volist>
                            </div>
                        </present>

                    </volist>

                </div>
            </div>

        </div>
        <!-- END 左侧边栏 -->

        <!-- 右侧主体 -->
        <div class="col-md-10" id="right-side">
            <div id="right-top">
                <div id="language"><span><a href="index.html">中文</a></span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="en">English</a></span></div>
            </div>
            <div id="ajax-show"></div>
        </div>
        <!-- END 右侧边栏 -->
    </div>

    <!-- 落款 -->
    <div class="row">

        <div id="footer">© 2018 BIUSHOP版权所有 All Rights Reserved. <a href="http://www.miibeian.gov.cn">京ICP备1111111号</a><span class="pull-right"><a href="admin/login.html">管理</a></span></div>
    </div>

</div>

<a href="http://www.cnzz.com/stat/website.php?web_id=1261122616" target="_blank"><div id="tongji"  style="position:absolute;width:30px;height:30px;top:0px;right:0px"></div></a>
<div style="display:none"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261122616'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261122616' type='text/javascript'%3E%3C/script%3E"));</script></div>


<script type="text/javascript" src="__PUBLIC__/lib/js/firefox-event.js" ></script>
<script type="text/javascript" src="__PUBLIC__/lib/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/js/bootstrap.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/client/js/iframe.js"></script>
<script type="text/javascript" src="__PUBLIC__/client/js/left_menu.js"></script>
</body>
</html>