<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/skin/default_skin/css/theme_inner.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/custom.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/admin-tools/admin-forms/css/admin-forms.css">
</head>
<body>

<div class="custom_main">
<div class="custom_title"><span class="custom_title_word">文章管理</span></div>
<div class="custom_body">

<table class="table table-hover" cellspacing="0" width="100%">
	
	<thead>
	    <tr>
	        <th><span class="glyphicons glyphicons-expand"></span></th>
	        <th width="55%">分类名称</th>
	        <th width="15%">栏目类型</th>
	        <th width="30%">进入管理</th>    
	    </tr>
	</thead>
	
	<tbody>                      
		<volist name="tree" id="category">
		<tr>
		<td><span class="glyphicons glyphicons-unchecked"></span></td>
		<td><span style="margin-left: {$category[grade] * 20 - 20}px"><if condition="$category[type] neq 0"><a href="{:U('admin/article/lists',array('id'=>$category[id]))}"></if>{$category.name}<if condition="$category[type] neq 0"></a></if></span></td>	
		<td>
		<if condition="$category[type] eq 0"><span class="glyphicons glyphicons-text_underline">&nbsp;标题</span>
		<elseif condition="$category[type] eq 1" /><span class="glyphicons glyphicons-unchecked">&nbsp;单篇</span>
		<elseif condition="$category[type] eq 2" /><span class="glyphicons glyphicons-more_windows">&nbsp;多篇</span>
		</if>
		 </td>
	
		<td>
		<if condition="$category[type] neq 0"><a href="{:U('admin/article/lists',array('id'=>$category[id]))}">进入管理</a></if>
		</td>
		</tr>
		</volist>
    </tbody>
    <tr class="row-label"><td colspan="5">&nbsp;</td></tr>
</table>
                         
</div>
</div>

</body>
</html>

