<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/skin/default_skin/css/theme_inner.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/admin-tools/admin-forms/css/admin-forms.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/custom.css">
</head>
<body>

	<div class="custom_main">
	<div class="custom_title">
		<span class="custom_title_word">{$tagName}</span>
		
		<label class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp; 
			<span class="fa fa-remove text-danger-light fs15"></span>&nbsp;&nbsp;<a href="#" id="batchDel">批量删除</a> 
		</label>
		
		<label class="pull-right">  
	    	<span class="glyphicons glyphicons-chevron-left text-info"></span>&nbsp;&nbsp;<a href="javascript:;" class="custom_href" onclick="window.history.back()">返回上一步</a>
	    </label>
	    
	</div>
    <div class="custom_body">
	    <table class="table table-hover" id="datatable3" cellspacing="0" width="100%">
	        <thead>
	            <tr>
	                <th><input type="checkbox" id="all"></th>
	                <th width="50%"><label>文章题目</label></th>
	                <th width="10%" style="text-align:center"><label>发布时间</label></th>	          
	                <th width="10%" style="text-align:center"><label>删除标签</label></th>
	                <th width="10%" style="text-align:center"><label>网址</label></th>
	                <th width="10%" style="text-align:center"><label>置顶</label></th>
	                <th width="10%" style="text-align:center"><label>管理操作</label></th>    
	            </tr>
	        </thead>

        <tbody>                             
 		<volist name="list" id="article">
			<tr>
				<td><input type="checkbox" class="item" name="{$article.id}"></td>
				
				<td>
					{$article.create_date|time_icon=###}<a href="{:U('admin/article/edit',array('id'=>$article[id]))}">{$article.title}</a>
				</td>
				
				<td align="center">{$article.create_date|time_top=###}</td>
				
				<td align="center">
					<a href="javascript:;" class="delete" onclick="del('{:U('admin/tag/article_tag_del',array('article_id'=>$article[id],'tag_id'=>$tagId))}','{$article.title} 的  {$tagName} 标签')"><span class="fa fa-times-circle text-danger-light fs18"></span></a>
				</td>
				
				<td align="center" class="click_link" url="/{$url}/{$article.id}.html"><span class="fa fa-chain-broken text-success fs18" style="cursor:pointer"></span></td>
				<td align="center">
					<div class="switch switch-primary switch-inline switch-xs">
	            		<input id="{$article.id}" name="{$article.id}" class="stick" type="checkbox" {$article.create_date|time_checked=###} >
	            		<label for="{$article.id}"></label>
	        		</div>
				</td>
				
				<td align="center"><a href="{:U('admin/article/edit',array('id'=>$article[id]))}"><span class="fa fa-pencil text-muted fs18"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" class="delete" onclick="del('{:U('admin/article/del',array('id'=>$article[id],'category_id'=>$category_id))}','{$article.title}')"><span class="fa fa-remove text-danger-light fs20"></span></a></td>
		   </tr>
		</volist>	                    
        </tbody>
      </table>
      <div class="pull-right">{$page}&nbsp;&nbsp;</div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/vendor/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
// 删除确认
function del(url,name){
	parent.bootConfirm(url,name);
}

// 信息提示
if("${info}" != ""){
    //parent.bootAlert("${info}");
}

$(document).ready(function(){
	// 置顶
	$('.stick').click(function(){
		var id = $(this).attr('id');

		if($(this).is(':checked')){   // 选中
			
			$.ajax({
			    type: 'POST',
			    url:  "{:U('admin/article/stick')}" ,
			    data: {'id':id,'checked':'true'},
			    success: function(data){ window.location.href="{:U('admin/article/tag_articles',array('tag_id'=>$tagId))}"; }
			});
		
		}else{                       // 非选中
			
			$.ajax({
			    type: 'POST',
			    url:  "{:U('admin/article/stick')}" ,
			    data: {'id':id,'checked':'false'},
			    success: function(data){ window.location.href="{:U('admin/article/tag_articles',array('tag_id'=>$tagId))}"; }
			});
		}
	});
	
	
	// 全选
 	$('#all').click(function() { 
     	$('.item').prop('checked', $(this).is(':checked')); 
 	}); 
	
	// 批量删除
 	$('#batchDel').click(function(){
 	    var ids = '';
 		$('.item').each(function(){
 			if($(this).is(':checked')){
 				ids+= $(this).attr('name') + '#';
 			}
 		});
 		
 		if(ids != ''){
 		
	 		$.ajax({
			    type: 'POST',
			    url:  "{:U('admin/article/del_batch')}" ,
			    data: {'ids':ids},
			    success: function(data){ parent.bootAlert("操作成功！"); }
			});
				
 		}else{
 			parent.bootToast("没有选择任何项目！");
 		}

 	});
	
	// 复制网址
	$('.click_link').click(function(){
		
		if(window.clipboardData && window.clipboardData.setData){
			
		    window.clipboardData.setData('text', $(this).attr('url'));   
		    parent.bootToast("已复制该篇文章前台网址！"); 
		 
		}else{  
			 parent.bootToast("您的浏览器不支持自动复制功能。请手动复制该网址："+$(this).attr('url'));
		 }  
		
	});
	
		
	
});
</script>
</body>
</html>