<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>文章列表 - 标准页面</title>
    
    <link href="__PUBLIC__/lib/css/bootstrap.min.css" rel="stylesheet">
    <script src=""></script>
    
	<!--[if lt IE 9]>
	<script src="__PUBLIC__/lib/js/html5shiv.min.js"></script>
	<script src="__PUBLIC__/lib/js/respond.min.js"></script>
	<![endif]-->
	
</head>
<body>



<div class="container">

<!-- 展示方式一  -->
<div class="row">

	<h2>展示所有分组、每个分组下的所有项目</h2>	
	<volist name="groups" id="group">
		
        <hr>组名：{$group.name}<hr>	
		<volist name="group['links']" id="link">

			项目名称：{$link.name}                   <br>
			项目链接：{$link.url}                    <br>
			项目排序：{$link.orders}                 <br>	
			项目图片：<img src="__PUBLIC__/upload/{$link.filename}" height=30 ><br><br>				
	   		    
		</volist>	
			                    
     </volist>
        
</div>


<!-- 展示方式二 -->
<div class="row">

	<h2>展示某一分组下的所有项目，以组 group_id = 1 为例</h2>
	<volist name="links" id="link">
			项目名称：{$link.name}                   <br>
			项目链接：{$link.url}                    <br>
			项目排序：{$link.orders}                 <br>	
			项目图片：<img src="__PUBLIC__/upload/{$link.filename}" height=30 ><br><br>	
	</volist>
		
</div>



</div>



<script type="javascript" src="__PUBLIC__/lib/js/jquery.min.js"></script>
<script type="javascript" src="__PUBLIC__/lib/js/bootstrap.min.js"></script>
</body>
</html>