<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title></title>
	<style>
		.title_item{ height: 40px; }
		.title_item a{  color: #666363; }
		.title_item a:hover{  color: #022a65;}
		.custom_page{ text-align: right; margin-right: 16px; margin-top:10px; color: #b3b3b3;}
		.pull-right{ color: #b3b3b3;}
	</style>
</head>
<body>


	<div id="inner_content">

		<table class="table-hover table-striped" cellspacing="0" width="100%">                                
	 		<volist name="list" id="article">
				<tr class="title_item">

				<td>
					<span>&nbsp;&nbsp;&nbsp;&nbsp;{$article.create_date|time_icon=###}<a class="inner-link" href="{:U('././',array($article[category_url]=>$article[id]))}">{$article.title}</a></span><span class="pull-right">{$article.create_date|time_top=###}&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</td>

		   		</tr>
			</volist>
        </table>
        
        <div class="custom_page">{$page}</div>
	        
	</div>

</body>
</html>