<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="keywords" content="{$article.seo_keywords}">
    <meta name="description" content="{$article.seo_description}">
    
    <title>{$article.title}</title>
    <style>
        #inner_content{ font-size:16px; line-height: 30px; color:#666363; }
    </style>
</head>
<body>



<div id="inner_content">

    {$article.content}<br>

</div>


</body>
</html>