<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>欢迎访问 温州行政诉讼律师网 | 民告官专业律师团队</title>
    <link rel="stylesheet" href="__PUBLIC__/client/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/client/css/inner.css">
</head>
<body>

<div class="container-fluid">

    <!--头部区域-->
    <div id="top">
        <a href="/index.html"><div id="logo"></div></a>
        <div id="top-tel">律师热线：<span>137-3877-8655</span></div>
    </div>

    <!--菜单-->
    <div id="menu">
        <div id="menu-container">
        <div class="menu-item"><a href="/index.html">网站首页</a></div>
        <volist name="tree" id="navigation">
              
        	<if condition="$navigation.id eq $cid">
        	  	<div class="menu-item active">
        	<else/>
        	  	<div class="menu-item">
        	</if>   
        	
        	<a href="{$navigation.url}">{$navigation.name}</a></div>
		</volist>
        </div>
    </div>

    <!--轮播区域-->
    <div class="banner">
        <div class="content"></div>
    </div>

    <!--正文-->
    <div class="container">

        <div class="content">

            <div class="title">
                <span class="pull-left">当前位置：<a href="/index.html">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;{$name}</span>
                <span class="pull-right"><a href="javascript:;" onclick="window.history.back()">返回上一页</a></span>
            </div>

            <div class="main">
            
            <volist name="list" id="article">
                <div class="line"><a href="/docs/{$article.id}.html">{$article.title}</a><span class="pull-right">{$article.create_date||strtotime|date='Y/m/d',###}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
            </volist>
            
            <div class="custom-page">{$page}&nbsp;&nbsp;</div>
            
            </div>

        </div>

    </div>

    <div id="links">
    <volist name="links" id="link">
		<a href="{$link.url}" target="_blank">{$link.name}</a>
	</volist>
    </div>
    <div id="footer">
        地 址：浙江省温州市市府路西首新益大厦A幢4楼&nbsp;&nbsp;&nbsp;&nbsp;邮 编：325000&nbsp;&nbsp;&nbsp;&nbsp;手 机：13738778655&nbsp;&nbsp;&nbsp;&nbsp;电 话：0577-56891918&nbsp;&nbsp;&nbsp;&nbsp;传 真：0577-88319477&nbsp;&nbsp;&nbsp;&nbsp;站长统计<br>
        温州行政诉讼律师网&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;Copyright ©2016 ALL RIGHTS RECERVED.&nbsp;&nbsp;&nbsp;&nbsp;浙ICP备<a href="http://www.miibeian.gov.cn" target="_blank">15043901号-3</a>&nbsp;&nbsp;&nbsp;&nbsp;技术支持：<a href="http://www.webm.com.cn" target="_blank"> 沧海软件(北京)有限公司</a>

    </div>

</div>
<script type="text/javascript" src="__PUBLIC__/client/js/jquery.min.js"></script>
</body>
</html>