<!-- 多篇类文章展示 - 标准页面 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="keywords" content="{$article.seo_keywords}">
    <meta name="description" content="">
    
    <title>{$article.title}</title>
    <style>
        #inner_content{ font-size:16px; line-height: 30px;}
        #inner_content h2{ text-align: center;margin-top: 0px;  }
        #sub_title{ margin-top: 30px; margin-bottom: 30px; text-align: center; }
    </style>
	
</head>
<body>



<div id="inner_content">

		
	<h2>{$article.title}</h2>

    <div id="sub_title">发布时间：{$article.create_date|time_top=###}&nbsp;&nbsp;&nbsp;&nbsp;点击次数：{$article.hits}&nbsp;&nbsp;&nbsp;&nbsp;文章来源：{$article.source} </div>

    <p>{$article.content}</p>
                
</div>




</body>
</html>