<!-- 多篇类带图片文章展示 - 标准页面 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="keywords" content="{$article.seo_keywords}">
    <meta name="description" content="">
    
    <title>{$article.title}</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/client/css/swiper-3.2.7.min.css" >
 
	<style>
		#etitle{ font-family: 'Microsoft YaHei','SimHei';font-size:22px;}
	</style>
	
</head>
<body>


<div class="swiper-container">
    <!-- 滑动区 -->
    <div class="swiper-wrapper">
    
    	<volist name="article_images" id="article_image">
    	    <if condition="$key gt 0">
    		<div class="swiper-slide"><img src="/upload/{$article_image}"></div>
    		</if>
		</volist>

    </div>
    <!-- 分页器 -->
    <div class="swiper-pagination"></div>
    <!-- 左右键 -->
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>

    <script type="text/javascript" src="__PUBLIC__/client/js/swiper-3.2.7.jquery.min.js"></script>
    <script type="text/javascript">
        var mySwiper = new Swiper ('.swiper-container', {
            loop: true,
            paginationClickable :true,
            effect : 'fade',
            fade: {
                crossFade: false,
            },
            // 如果需要分页器
            pagination: '.swiper-pagination',

            // 如果需要前进后退按钮
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            centeredSlides: true,
            autoplay: 2000,
            speed:1000,
            autoplayDisableOnInteraction: false
        });

        $(document).ready(function(){
            $(document).on("click",".sub_item",function(){
                var href = $(this).find("a").prop("href");
                $.cookie("href",href);
            });
        });

    </script>
</div>
<br>
<div id="etitle">{$article.title}</div><br>

{$article.content}


<br><br>


<script type="text/javascript" src="__PUBLIC__/lib/js/jquery.min.js"></script>
</body>
</html>