<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>文章列表 - 标准页面</title>
    
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/lib/css/bootstrap.min.css">

	
</head>
<body>


	<div id="inner_content">

		<table class="table-hover table-striped" cellspacing="0" width="100%">                                
	 		<volist name="list" id="article">
				<tr class="title_item">

				<td>
					<span>{$article.create_date|time_icon=###}<a href="{:U('././',array($article[category_url]=>$article[id]))}">{$article.title}</a></span><span class="pull-right">{$article.create_date|time_top=###}</span>
				</td>

		   		</tr>
			</volist>
        </table>
        
        <div class="custom_page">{$page}</div>
	        
	</div>

</body>
</html>