<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>欢迎访问 温州行政诉讼律师网 | 民告官专业律师团队</title>
    <link rel="stylesheet" href="__PUBLIC__/client/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/client/css/inner.css">
</head>
<body>

<div class="container-fluid">

<a href="/admin/login.html" target="_blank"><div id="admin" style="position:absolute;width:30px;height:30px;right:0px;top:0px"></div></a>
<a href="http://www.cnzz.com/stat/website.php?web_id=1261122547" target="_blank"><div id="tongji"  style="position:absolute;width:30px;height:30px;top:77px;right:0px"></div></a>
<div style="display:none"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261122547'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261122547' type='text/javascript'%3E%3C/script%3E"));</script></div>

    <!--头部区域-->
    <div id="top">
        <a href="index.html"><div id="logo"></div></a>
        <div id="top-tel">律师热线：<span>137-3877-8655</span></div>
    </div>

    <!--菜单-->
    <div id="menu">
        <div id="menu-container">
        <div class="menu-item"><a href="/index.html">网站首页</a></div>
        <volist name="tree" id="navigation">
            <if condition="$navigation.id eq 1">
        	  	<div class="menu-item active">
        	<else/>
        	  	<div class="menu-item">
        	</if>       
        	<a href="{$navigation.url}">{$navigation.name}</a></div>
		</volist>
        </div>
    </div>

    <!--轮播区域-->
    <div class="banner">
        <div class="content"></div>
    </div>

    <!--正文-->
    <div class="container">

        <div class="content">

            <div class="title">
                <span class="pull-left">当前位置：<a href="/index.html">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="/lists/1.html">律师介绍</a>&nbsp;&nbsp;>&nbsp;&nbsp;内容详情</span>
                <span class="pull-right"><a href="javascript:;" onclick="window.history.back()">返回上一页</a></span>
            </div>

            <div class="main">

                <div id="main-title">{$main.title}</div>
                <div id="main-title-sub">发布时间：{$main.create_date}&nbsp;&nbsp;&nbsp;&nbsp;浏览数：{$main.hits}&nbsp;&nbsp;次&nbsp;&nbsp;&nbsp;&nbsp;文章来源：{$main.source}</div>

                <div id="main-content">
                	<div style="text-align:center">
                	<volist name="article_images" id="article_image">
						<img src="/upload/{$article_image}"><br>
					</volist>
					</div>
					<br>
                	{$main.content}
                
                </div>

            </div>

        </div>

    </div>

    <div id="links">
    <volist name="links" id="link">
		<a href="{$link.url}" target="_blank">{$link.name}</a>
	</volist>
    </div>
    <div id="footer">
        地 址：浙江省温州市市府路西首新益大厦A幢4楼&nbsp;&nbsp;&nbsp;&nbsp;邮 编：325000&nbsp;&nbsp;&nbsp;&nbsp;手 机：13738778655&nbsp;&nbsp;&nbsp;&nbsp;电 话：0577-56891918&nbsp;&nbsp;&nbsp;&nbsp;传 真：0577-88319477&nbsp;&nbsp;&nbsp;&nbsp;站长统计<br>
        温州行政诉讼律师网&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;Copyright ©2016 ALL RIGHTS RECERVED.&nbsp;&nbsp;&nbsp;&nbsp;浙ICP备<a href="http://www.miibeian.gov.cn" target="_blank">15043901号-3</a>&nbsp;&nbsp;&nbsp;&nbsp;技术支持：<a href="http://www.webm.com.cn" target="_blank"> 沧海软件(北京)有限公司</a>

    </div>

</div>

<script type="text/javascript" src="__PUBLIC__/client/js/jquery.min.js"></script>

</body>
</html>