<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>欢迎访问 - 温州胜诉律师网</title>
    <link rel="stylesheet" href="__PUBLIC__/client/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/client/css/inner.css">
</head>
<body>
<div class="container-fluid">
    
    <include file="Public/include/header.html" />

    <!--大图banner-->
    <div class="row" id="banner">

    </div>

    <!-- 正文内容 -->
    <div class="row content">
       
        <div class="container">
            <div class="col-md-4 scrollspy" >
                <div id="nav" data-spy="affix"></div>
            </div>
            <div class="col-md-8 main">
                <div class="title">{$categoryName}</div>
                <div class="line"></div>
            	<div style="width:120%;overflow:hidden;margin-top:22px">
		            <volist name="list" id="member">
		            <a href="/pics/{$member.id}.html">
			            <div class="thumbnail" style="width:185px;float:left;margin-right:20px;">
			                <img src="/upload/{$member.image}">
			                <h4 style="text-align:center">{$member.title}</h4>
			            </div>
		            </a>
		            </volist>
                </div>            
				<div class="pull-right">{$page}</div>
            </div>


        </div>
    </div>


    <!-- 落款部分 -->
    <div class="row" id="footer">
          <include file="Public/include/footer.html" />
    </div>
</div>

<script src="__PUBLIC__/client/js/jquery.min.js"></script>
<script src="__PUBLIC__/client/js/bootstrap.min.js"></script>

<script>
    $('#nav').affix({
        offset: {
            top: $('#nav').offset().top
        }
    });
</script>
</body>
</html>