<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/skin/default_skin/css/theme_inner.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/custom.css">
</head>
<body>

	<div class="custom_main">
	<div class="custom_title"><span class="custom_title_word">帮助文档</span></div>
    <div class="custom_body">
	<label class="label label-danger">1、请尽量使用现代浏览器访问管理后台</label>
	<p>管理后台大量使用HTML5、CSS3、Bootstrap等前端开发技术，老版本的浏览器不能很好的支持这些技术。建议使用IE11、IE Edge以及Firefox、Chrome、Opera、Safari等浏览器的最新版本。国产浏览器（360浏览器、遨游、QQ浏览器等）请切换到“兼容”模式下访问。</p>

	<label class="label label-primary">2、文章添加时候需要注意的问题</label>
	<p>1) 在文章添加时，若页面不能正常显示或显示不完整，可反复再点击刷新几次即可。出现这种问题的原因，是由于某些时候的网络状况问题，未能来得及完全加载页面所属的js文件造成的。<br>
		2) 请不要直接将word文档、网页上的文字，直接拷贝之后，粘贴（该操作使用Ctrl+V）进文章编辑框进行发表。这样会造成word文档或网页上的文本材料的本身样式被一同拷贝进编辑框。解决办法是：先将拷贝内容粘贴进一个txt文本文档，去掉其本身固有的样式。然后再从txt文本文档处复制进后台的文本编辑框。<br>
	    3）对文本编辑框内的内容精确格式控制，可以通过点击编辑框左上角的HTML按钮，直接编辑源代码进行精确调整或格式控制。</p>

	<label class="label label-success">3、后台登录账号的管理</label>
	<p>1)修改登录账号的密码，请点击页面右上角 <b>管理设置</b><br>
		2)添加、编辑修改、删除其他后台管理账号，请点击页面左侧菜单栏的 <b>管理账号</b>
	</p>

	<label class="label label-danger">4、网站前台菜单控制</label>
	<p>网站前台菜单的控制，可以通过请点击页面左侧菜单栏的 <b>导航设置</b> 进行。进入该页面，在添加一级菜单时候，“请选择上级分类”这个选项不要选择，只需填写项目（菜单）名称和项目（菜单）网址即可。应该首先将一级菜单添加完毕，然后再进行二级菜单的添加。添加二级菜单的时候，要从“请选择上级分类”选框中选择一级菜单名称，再进行添加。为增加菜单设置的方便性，所有的菜单项目的名称、网址、排序都可以随时修改。点击相应的操作图标即可。</p>

	</div>
	</div>

</body>
</html>

