<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/skin/default_skin/css/theme_inner.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/custom.css">
</head>
<body>
<br>

<div id="title">欢迎 <span style="color:#18b4ed">{$username}</span> 登陆后台管理系统</div>
<div id="title_sm">这是您第 <span style="color:#18b4ed">{$login_count}</span> 次访问后台管理系统。上一次访问是在 <span style="color:#18b4ed">{$login_date}</span>，访问地址是 <span style="color:#18b4ed">{$login_address}</span></div>

<br>
<br>
<br>
<br>

<div id="info">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="wl_title"><i class="fa fa-info-circle text-warning fs40 pr10"></i>网站提示信息</div>
				<div class="wl_info">
					<i class="fa fa-exclamation-circle text-warning  pr10"></i><b>服务到期时间：</b><a href="#">2099年09月09日</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
					<i class="fa fa-exclamation-circle text-warning  pr10"></i><b>注意事项：</b><br>
					<i class="fa fa-exclamation-circle text-warning  pr10"></i>请在服务到期时间之前，联系服务商操作。<br>
					<i class="fa fa-exclamation-circle text-warning  pr10"></i>请注意上次登录信息，若发现有异，应考虑系统安全问题<br>
					<i class="fa fa-exclamation-circle text-warning  pr10"></i>首次使用后台管理系统，请查看 <label class="label label-primary">帮助文档</label> 了解系统使用和操作方法。
					<br>
				</div>
			</div>
			<div class="col-md-6">
				<div class="container">
					<div class="row">
						<div class="col-md-2" ><img src="__PUBLIC__/admin/images/wx.png"></div>
						<div class="col-md-10">
							<div class="wl_title"><i class="fa fa-cogs text-success  fs40 pr10"></i>技术维护信息</div>
							<div class="wl_info">
								<i class="fa fa-exclamation-circle text-success  pr10"></i><b>支持服务商：</b>BIUSHOP电子商务有限公司<br>
								<i class="fa fa-exclamation-circle text-success  pr10"></i><b>服务商网站：</b>www.biushop.com<br>
								<i class="fa fa-exclamation-circle text-success  pr10"></i><b>服务商地址：</b>北京市海淀区中关村大街<br>
								<i class="fa fa-exclamation-circle text-success  pr10"></i><b>服务商电话：</b>010-88888888<br>
								<i class="fa fa-exclamation-circle text-success  pr10"></i><b>服务商邮件：</b>a@biushop.com
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" style="text-align:center;margin-top:30px;color:#999999">版权所有 © BIUSHOP电子商务有限公司</div>
</div>

</body>
</html>

