<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/skin/default_skin/css/theme_inner.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/custom.css">
</head>
<body>
<br>

<div id="title">欢迎 <span style="color:#18b4ed">{$username}</span> 登陆后台管理系统</div>
<div id="title_sm">这是您第 <span style="color:#18b4ed">{$login_count}</span> 次访问后台管理系统。上一次访问是在 <span style="color:#18b4ed">{$login_date}</span>，访问地址是 <span style="color:#18b4ed">{$login_address}</span></div>

<br>
<br>
<br>
<br>

<div id="info">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="wl_title">网站提示信息</div>
				<div class="wl_info">
					服务到期续费时间：<a href="#">20--年--月--日</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
					注意事项：<br>
					1、请在服务到期续费时间之前，联系服务商进行续费操作<br>
					2、请注意上次登录信息，若发现有异，应考虑系统安全问题<br>
					3、请使用现代浏览器（IE11，Chrome、Firefox等最新版本）操作管理后台
					<br>
				</div>
			</div>
			<div class="col-md-6">
				<div class="container">
					<div class="row">
						<div class="col-md-2" ><img src="__PUBLIC__/admin/images/wx.png"></div>
						<div class="col-md-10">
							<div class="wl_title">技术维护信息</div>
							<div class="wl_info">
								支持服务商：沧海软件（北京）有限公司<br>
								服务商网站：<a href="http://www.webm.com.cn" target="_blank">www.webm.com.cn</a><br>
								服务商地址：北京市平谷区林荫北街13号信息大厦802室<br>
								服务商电话：010-59793298<br>
								服务商邮件：a@webm.com.cn
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" style="text-align:center;margin-top:30px;color:#999999">版权所有 © 沧海软件（北京）有限公司</div>
</div>

</body>
</html>

