/** ͨ�� */
.custom_title{ width:100%;height:35px;margin-top:5px;border-bottom:1px solid #dddddd;}
.custom_title .custom_title_badge{ line-height:16px;}
.custom_title .custom_title_word{ font-size:20px;line-height:20px;}
.custom_body{ width:100%;height:auto;padding-top:15px;}
.top15{ padding-top:15px;}
.custom_control_height{ height:19px;overflow:hidden;}
.left-title{ width:80px;}

.custom_main a{ color:#666666;}
.custom_main a:hover{ color:#18b4ed;}
.custom_main th{ font-weight:bold;}

/** 出现滚动条不至于影响页面宽度 */
body{ overflow-x: hidden; } 


/** 管理首页 */
#info{ height:280px; width:96%; margin:0px auto; background-color:#f5f5f5; padding-top:58px;}
.wl_title{ font-size:36px;height:78px;margin-top:-5px;}


/** ��ҳindex.ftl */
#title{ font-size:50px;text-align:center;padding-top:40px;}
#title_sm{ font-size:20px;text-align:center;color:#999999;}

/** 登陆页面 login.ftl */
#custom_tips{ height:110px;background-color:#fafafa;width:830px;display:none;}
.custom_tips_container{ margin-top:10px;margin-left:20px; }
.custom_tips_overflow{ overflow:hidden;padding-top:30px; }

/** 文章发布 admin/article/add.ftl */
.custom_more{ height:0px;overflow:hidden; }
.custom_more .container-fluid{ height:460px;border:1px solid #dddddd;padding-top:30px;padding-left:-50px; }
.custom_more .switch{ margin-top:10px;left:-50px;position:absolute;left:10px;}
#posTop{ position:relative;}
.custom_images{ height:0px;overflow:hidden; }
.custom_select{ height:39px;width:100%;border:1px solid #dddddd;}
.custom_option_title{ font-size:10px;padding-left:10px;}
#editor{ width:100%;}

/** ������ʽ */
.custom_href{ color:#666;}

/** ��������ҳ�� admin/setting/navigation/list.ftl */
.custom_input_sm{ height:20px;border:1px solid #dddddd; }
.custom_input_btn{ margin-top:-3px;line-height:0px; }

.link_item{width:100%;height:32px;line-height:32px;border:solid 1px #e5e5e5;text-indent:10px;}

/** ��������*/
.add_form{ width:100%;margin-bottom:20px;}


/** 上传区域 */
.upload_input{ height:32px;}
.item_logo{ height:32px;}

.custom_page{ text-align:right;}

#upload_zone{ height:260px;border:1px solid #dddddd;padding-top:10px;overflow:hidden;}

#manageImageArea{ display:none; width:100%;margin-top:15px;}

/* 分页样式 */
.first, .prev, .next, .end, .num, .current{ margin-right:5px;}
.num{ border:#44beea 1px solid; display:inline-block;width:20px;height:20px;text-align:center;}
.current{ border:#44beea 1px solid;display:inline-block;color:#ffffff;background-color:#44beea;width:20px;height:20px;text-align:center; }