<html>
<head>
<title>留言添加</title>
</head>
<script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>

<body>
<h1>留言测试</h1>
<form action="{:U('guestbook/save')}" method="post">
<input type="hidden" id="address" name="address">
姓名：<input type="text" name="name" size="100"><br><br>
电话：<input type="text" name="phone" size="100"><br><br>
邮件：<input type="text" name="email" size="100"><br><br>
内容：<textarea name="guest_content" cols="100" rows="20"></textarea><br><br>
<input type="submit" value="提交"> 
</form>

<script>document.getElementById("address").value = remote_ip_info["province"]+remote_ip_info["city"];
</script>
</body>
</html>