<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>欢迎访问 - 温州胜诉律师网</title>
    <link rel="stylesheet" href="__PUBLIC__/client/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/client/css/inner.css">
</head>
<body>
<div class="container">
    <div style="width:504px;height:auto;background-color:#10a8fe;color:#ffffff;margin:48px;padding:20px;line-height:20px;margin-bottom:30px">留言内容：{$message.guest_content}</div>
    
    <div style="width:504px;height:auto;background-color:#f43fd4;color:#ffffff;margin:48px;margin-top:0px;padding:20px;line-height:20px;margin-bottom:30px">回复内容：{$message.reply_content}</div>
   
</body>
</html>