<!-- 多篇类产品展示页面 - 标准页面 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="keywords" content="{$article.seo_keywords}">
    <meta name="description" content="">
    
    <title>{$product.title} | 产品详情</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/client/css/.css" >
 
	<style>
		#etitle{ font-family: 'Microsoft YaHei','SimHei';font-size:22px;}
		#product{ width:100%;height:200px;}
		#details{ width:100%;}
	</style>
	
</head>
<body>
      
<!-- 用户登录信息包含 -->
<include file="Application/Home/View/User/info.html" />
    
<!-- 产品名称 -->
<div id="etitle">{$product.title}</div><br>

<!-- 产品图片 -->
<div id="product">
	<volist name="product_images" id="product_image">
		<div style="float:left"><img src="/git/pcms/upload/{$product_image}" style="width:280px"></div> 
	</volist>
</div>

<div id="details">
产品价格：{$product.price}<br>
</div>

<!-- 提示信息 -->
优惠20%价格：{$discount}<br>
折后价格：{$preferential}

<!-- 产品描述 -->
{$product.content}





<!-- 购买按钮 -->
<input type="button" id="buy" value="购买">

<br><br>


<script type="text/javascript" src="__PUBLIC__/lib/js/jquery.min.js"></script>
<!-- U函数传Js参数简直服了 -->
<script type="text/javascript">
$(document).ready(function(){
	$('#buy').click(function(){
		
		user_id = '{$Think.session.info.id}';
		pro_id = '{$product.id}';
		
		if(user_id == ''){
			alert('请登录购买');
			window.location.href = "{:U('user/login')}";
		}else{
		    window.location.href = "{:U('product/buy')}?uid="+user_id+'&pid='+pro_id;							
		}
		
		
	});
});
</script>
</body>
</html>