@charset "utf-8";

#logo img{ height:36px; width:293px; margin-top:50px; margin-left:-15px;}

#language{ color:#022a65;font-family:'Microsoft YaHei','STHeiti Light','SimHei';font-size:14px; width:125px; height:27px; margin-top: 70px;margin-left: 745px;}
#language a{ text-decoration:none; font-weight:normal; color:#022a65; }
#language a:hover{ text-decoration:none; font-weight:bold; color:#022a65;}

#menu_left{ width:280px; height:auto; margin-top:42px; margin-left:-15px; margin-bottom:30px;}
.menu_left_item{ width:100%; height:37px; text-indent:52px; line-height:37px;font-family:'Microsoft YaHei','STHeiti Light','SimHei';font-size:18px;}
.menu_left_item a{ display:block;width:100%; height:37px;text-decoration:none; font-weight:normal; color:#022a65;background-image: url(../images/left_menu.jpg);background-position: 0px 0px;background-repeat: no-repeat;}
.menu_left_item a:hover{ display:block;width:100%; height:37px;text-decoration:none; font-weight:bold; color:#022a65;background-image: url(../images/left_menu_out.jpg);background-position: 0px 0px;background-repeat: no-repeat;}
.menu_left_item_sub{ display: none; }
.sub_item{ width:100%; height:27px; line-height:27px;font-family:'Microsoft YaHei','STHeiti Light','SimHei';font-size:16px;}
.sub_item a{ display:block;text-indent:132px;text-decoration:none; font-weight:normal; color:#022a65;background-image: url(../images/left_menu.jpg);background-position: 0px 0px;background-repeat: no-repeat;}
.sub_item a:hover{ display:block;text-decoration:none; font-weight:bold; color:#022a65;background-image: url(../images/left_menu_in.jpg);background-position: 0px 0px;background-repeat: no-repeat;}

#area{ min-height:574px !important; }
#content{ width:858px;  margin-top:42px; margin-left:14px;margin-bottom:50px; }
#content #main{ width:858px;}

#footer{ width:100%; height:70px;border-top:#d9d9da 1px solid; color:#b3b3b3; font-size:12px;font-family:'Microsoft JhengHei','Microsoft YaHei','STHeiti Light','SimHei';text-align:right;padding-top:10px;}

.swiper-container { width: 858px;height: 482px;text-align: center;}
.swiper-slide img{ width:858px; height:482px;}
.swiper-pagination-bullet-active{background:#fff;}
