<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel='stylesheet' type='text/css' href='__PUBLIC__/admin/assets/skin/default_skin/css/font-opensans.css'> <!-- Font CSS -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/skin/default_skin/css/font-roboto.css">  <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/skin/default_skin/css/theme.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/custom.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/admin-tools/admin-forms/css/admin-forms.css"> <!-- Admin Forms CSS -->
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
   		<script src="__PUBLIC__/admin/assets/js/ie9/html5shiv.js"></script>
   		<script src="__PUBLIC__/admin/assets/js/ie9/respond.min.js"></script>
    <![endif]-->
</head>
<body class="external-page sb-l-c sb-r-c">

    <!-- Start: Main -->
    <div id="main" class="animated fadeIn">

        <!-- Start: Content -->
        <section id="content_wrapper">

            <!-- begin canvas animation bg -->
            <div id="canvas-wrapper">
                <canvas id="demo-canvas"></canvas>
            </div>

            <!-- Begin: Content -->
            <section id="content">

                <div class="admin-form theme-info">

                    <div class="row mb15 table-layout">

                        <div class="col-xs-6 va-m pln">
                            <a href="${base}/admin">
                                <img src="__PUBLIC__/admin/assets/img/logos/logo_white.png" title="后台管理系统" class="img-responsive w250">
                            </a>
                        </div>

                        <div class="col-xs-6 text-right va-b pr5">
                            <div class="login-links">
                                <a href="${base}/reset/forget" class="active" title="忘记密码?">忘记密码 ? </a>&nbsp;&nbsp;|&nbsp;&nbsp;后台管理系统
                            </div>

                        </div>

                    </div>

                    <div class="panel panel-info mt10 br-n heading-border custom_tips_overflow">
						<!-- 隐藏域 登陆地址 -->
						<input type="hidden" id="address" name="address">
                        <!-- 此处可放置提示性文字 -->
                        <div id="custom_tips">
                            <div class="col-sm-11 col-md-11 custom_tips_container">
                                <div class="alert alert-micro alert-border-left alert-info pastel alert-dismissable">
                                    <i class="fa fa-info pr10"></i> 提示信息<div id="failure"></div>
                                </div>
                            </div>
                        </div>

                        <!-- end .form-header section -->
                        
                        
                            
                        <div class="panel-body bg-light p30">
                            <div class="row">
                                <div class="col-sm-7 pr30">
                                    <div class="section">
                                        <label for="username" class="field-label text-muted fs18 mb10">账 号</label>
                                        <label for="username" class="field prepend-icon">
                                            <input type="text" name="username" id="username" class="gui-input" placeholder="账号或邮箱">
                                            <label for="username" class="field-icon"><i class="fa fa-user"></i>
                                            </label>
                                        </label>
                                    </div>
                                    <!-- end section -->

                                    <div class="section">
                                        <label for="password" class="field-label text-muted fs18 mb10">密 码</label>
                                        <label for="password" class="field prepend-icon">
                                            <input type="password" name="password" id="password" class="gui-input" placeholder="请输入密码">
                                            <label for="password" class="field-icon"><i class="fa fa-lock"></i>
                                            </label>
                                        </label>
                                    </div>
                                    <!-- end section -->

                                </div>
                                <div class="col-sm-5 br-l br-grey pl30" style="margin-top:3px">
                                    <label class="field-label text-muted fs18 mb10"> 请输入验证码</label>
                                    
                                        <img src="{:U('admin/login/verify')}" height="69" id="verifyImage"/>
                                        
                                        <label for="verify" class="field prepend-icon" style="margin-top:22px">
                                            <input type="text" name="verify" id="verify" class="gui-input" placeholder="验证码 （点上图可刷新）">
                                            <label for="verify" class="field-icon"><i class="fa fa-qrcode"></i>
                                            </label>
                                        </label>
                                </div>
                            </div>
                        </div>
                        <!-- end .form-body section -->
                        <div class="panel-footer clearfix p10 ph15">
                            <button type="submit" id="submit" class="button btn-primary mr10 pull-right">登  陆</button>
                            <label class="switch block switch-primary pull-left input-align mt10">
                                <input type="checkbox" name="remember" id="remember" checked>
                                <label for="remember" data-on="是" data-off="否"></label>
                                <span>记住我</span>
                            </label>
                        </div>
                        <!-- end .form-footer section -->
                        
                    </div>
                </div>

            </section>
            <!-- End: Content -->

        </section>
        <!-- End: Content-Wrapper -->

    </div>
    <!-- End: Main -->

    <!-- BEGIN: PAGE SCRIPTS -->

    <!-- 登陆地址 -->
    <script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>     
    <script>document.getElementById("address").value = remote_ip_info["province"]+remote_ip_info["city"];</script>
    
    <!-- jQuery -->
    <script type="text/javascript" src="__PUBLIC__/admin/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.cookie.js"></script>
    
    <!-- Bootstrap -->
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/bootstrap/bootstrap.min.js"></script>
 
    <!-- Page Plugins -->
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/pages/login/EasePack.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/pages/login/rAF.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/pages/login/TweenLite.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/pages/login/login.js"></script>

    <!-- Theme Javascript -->
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/utility/utility.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/main.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/demo.js"></script>
    
    <!-- Vadlidate And RSA Encrypt Service -->
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.validate.js"></script>

    <!-- Page Javascript -->
    <script type="text/javascript">
        jQuery(document).ready(function() {

            "use strict";     
            Core.init();  // Init Theme Core
            Demo.init();  // Init Demo JS

            // Init CanvasBG and pass target starting location
            CanvasBG.init({
                Loc: {
                    x: window.innerWidth / 2,
                    y: window.innerHeight / 3.3
                },
            });
            
            
            
            /* -----------------------------  用户密码保存cookie操作  ---------------------------- */ 
	    	
	    	var usernameCookieValue = $.cookie('username');
			var passwordCookieValue = $.cookie('password');
	    	
			
			// cookie中有登陆表单值，则填入登陆表单
			if((usernameCookieValue != '' && usernameCookieValue != null) && (passwordCookieValue != '' && passwordCookieValue != null)){
				$('#username').val(usernameCookieValue);
				$('#password').val(passwordCookieValue); 
			}
	    	
	    	// 点击 是否记住 登陆表单值 checkbox 操作
	    	$('#remember').click(function(){
	    		 if($(this).prop("checked")!=true){
	    		 	// 未选中,则在cookie值不为空的情况下,删除cookie
	    		 	if((usernameCookieValue != '' && usernameCookieValue != null) && (passwordCookieValue != '' && passwordCookieValue != null)){
				    	$.cookie('username', '', { expires: -1, path: '/' });
						$.cookie('password', '', { expires: -1, path: '/' });
				    }
	    		 }
	    	});
	    	
	    	
            
            /* -----------------------------  登陆操作  ---------------------------- */ 
            
            $('#submit').click(function(){
				
            	// 验证用户名密码是否为空
            	if($('#username').val() == "" || $('#password').val() == ""){
            		$("#failure").html("<h1>登陆资料不完整</h1>");
            		$("#custom_tips").show(200).delay(2000).hide(200); 
            		return;
            	}
            	
            	// 验证码
            	$.ajax({
            		method: 'POST',
            		url: "{:U('admin/login/check_verify')}",
            		data: {'verify':$('#verify').val()},
            		success: function(data){
            			if(data == "wrong"){
                    		$("#failure").html("<h1>验证码不正确</h1>");
                    		$("#custom_tips").show(200).delay(2000).hide(200); 
                    		return;	
                  		
            			}else{
            				
            				// -----------验证码校核通过，进行登陆操作--------------- //
                        	$.ajax({
                        		method: 'POST',
                        		url: "{:U('admin/login/submit')}",
                        		data: {'username':$('#username').val(),'password':$('#password').val(),'address':$('#address').val()},
                        		success: function(data){
                        			
                        			// 登陆失败
                        			if(data == "failed"){
                        				$("#failure").html("<h1>登陆失败！</h1>");
                        				$("#custom_tips").show(200).delay(2000).hide(200);
                        			
                        			// 登陆成功	
                        			}else{
                        				
                        				// cookie保存账号和密码
                        				var usernameInputValue = $('#username').val();
                        	    	    var passwordInputValue = $('#password').val();
                        				
                        		    	if($('#remember').prop("checked")==true){
                        					if(usernameInputValue != '' && passwordInputValue != ''){
                        						$.cookie('username',usernameInputValue, {expires:7,path:'/'});
                        						$.cookie('password',passwordInputValue, {expires:7,path:'/'});
                        					}
                        		    	}
                        				window.location.href = data;
                        			}			 
                        		}
                        	});	
            			
                        	// ----------- 登陆操作 END--------------- //
            				
            			}
            		}
            	});
				//---验证码 END---//
            	   	
            });
                  

			// 验证码
	    	var captcha_img = $('#verifyImage'); 
	    	var verifyimg = captcha_img.attr("src");  
	    	captcha_img.attr('title', '点击刷新');  
	    	captcha_img.click(function(){  
	    	    if( verifyimg.indexOf('?')>0){  
	    	        $(this).attr("src", verifyimg+'&random='+Math.random());  
	    	    }else{  
	    	        $(this).attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());  
	    	    }  
	    	});  


        });
    </script>

    <!-- END: PAGE SCRIPTS -->

</body>
</html>
